.co__journey {
    background: #f7941f;
    max-width: 1220px;

    margin: 50px auto;
    padding-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px #b9b9b9;
}

.co__journey_body {
    font-family: var(--font-family);
    display: flex;

}

.co__journey_body_img {
    margin-right: 20px;
}

.co__journey_body_img img {
    max-width: 250px;
    height: 100%;
}

.co__journey_body_content {
    padding: 20px;
}

.co__journey_body_content h1 {
    font-weight: 700;
    font-size: 30px;
    color: #3a3a3a;
}

.co__journey_body_content p {
    font-weight: 500;
    text-align: justify;
    color: #3a3a3a;
    padding-bottom: 20px;
    padding-right: 30px;
}

@media screen and (max-width: 1050px) {
    .co__journey {    
        margin: 50px 10px;
        padding-top: 50px;
        border-radius: 10px;
    }
    
    .co__journey_body_img {
        margin-right: 0;
    }
    
    .co__journey_body_img img {
        max-width: auto;
    }
    
    .co__journey_body_content {
        padding: 20px;
    }
    
    .co__journey_body_content h1 {
        font-size: 25px;
    }
    
    .co__journey_body_content p {
        font-weight: 400;
        font-size: 15px;
        padding-bottom: 50px;
        padding-right: 0;
    }
}

@media screen and (max-width: 700px) {
    
    .co__journey_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .co__journey_body_content h1 {
        font-size: 20px;
        text-align: center;
    }
    
    .co__journey_body_content p {
        font-size: 14px;
        padding-bottom: 20px;
    }
}